.c-listactivity{
  background-color: #1F2D40;
  border-radius: 15px;
  width: 100%;
  overflow: auto;
  padding: 10px 5px 0px 5px;
  height: 80vh;
  margin-right: 10px;
}
.c-item{
  width: 100%;
  height: 70px;
  border-top-right-radius: 25px;
  background-color: rgb(12, 17, 22);
  display: flex;
  margin-bottom: 10px;
}
.c-priority{
  width: 1%;
  background-color: rgb(230, 23, 57);
}
.c-content{
  width: 99%;
  border-top-right-radius: 25px;
  display: flex;
  padding: 5px;
}
.c-text{
  width: 90%;
}
.c-check{
  display: flex;
  align-items: center;
  justify-content: center;
  width:20%;
}
.c-text-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50%;
}
.c-text-description{
  display: flex;
  align-items: center;
  height: 50%;
  font-size: 12px;
}
.c-buttons{
  padding: 10px;
  border-top-right-radius: 25px;
  background-color: #1F2D40;
  height: 50px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.c-add{
  display: flex;
  width: 50%;
}

.c-kanban{
  height: 80vh;
  display: flex;
}
.c-item-header{
  height:50px;
  display: flex;
  align-items: center;
}