.form-activity{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.form-header-activity{
  margin-bottom: 50px;
  font-size: 30px;
}
.card-form-activity{
  background-color: #1F2D40;
  width: 40%;
  border-radius: 10px;
}
.fields{
  margin: 5px;
}
.header-card{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}
.forgot-pass{
  display: flex;
  justify-content: flex-end;
  font-size: 10px;
  margin-right: 15px;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .card-login{
    width: 100%;
  }
}
.btns-form{
  display: flex;
  justify-content: space-between;

}