.activities{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header-activities{
  font-size: 50px;
  margin: 20px;
  margin-bottom: 40px;
}
.c-list{
  width: 50%;
}
@media screen and (max-width: 600px) {
  .c-list{
    width: 100%;
  }
}